.groupBtn .sortByName {
    width: 135px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    padding: 7px 0 7px 10px;
    margin: 15px 0 0 0;
    cursor: pointer;
    position: relative;
}
.groupBtn .sortByName span img{
    width: 15px;
    position: absolute;
    left: 5px;
    top: 10px;
}
.groupBtn .sortByName:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.groupBtn .sortByAge {
    width: 120px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    padding: 7px 0 7px 10px;
    margin: 15px 0 0 5px;
    cursor: pointer;
    position: relative;
}
.groupBtn .sortByAge span img{
    width: 15px;
    position: absolute;
    left: 5px;
    top: 10px;
}
.groupBtn .sortByAge:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.groupBtn .reset {
    width: 100px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    padding: 7px 0 7px 0;
    margin: 15px 0 0 5px;
    cursor: pointer;
    position: relative;
}
.groupBtn .reset:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.groupBtn .reset span img{
    width: 20px;
    position: absolute;
    left: 5px;
    top: 7px;
    filter: invert(1)
}